In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\anaconda\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector

In [5]:
mydb = mysql.connector.connect(host="localhost",user="root",password="Bharat#12",)
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('hr',)
('information_schema',)
('module1',)
('mysql',)
('performance_schema',)
('sys',)

In [15]:
import mysql.connector

# Function to establish a connection to MySQL
def connect_to_mysql():
    try:
        connection = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Bharat#12",
            database="module1"
        )
        print("Connected to MySQL successfully")
        return connection
    except mysql.connector.Error as error:
        print("Failed to connect to MySQL: {}".format(error))
        return None

# Function to execute select query
def select_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except mysql.connector.Error as error:
        print("Error executing SELECT query: {}".format(error))
        return None
    finally:
        cursor.close()

# Function to execute insert query
def insert_query(connection, query, values):
    cursor = connection.cursor()
    try:
        cursor.execute(query, values)
        connection.commit()
        print("Data inserted successfully")
    except mysql.connector.Error as error:
        print("Error executing INSERT query: {}".format(error))
    finally:
        cursor.close()

# Function to execute insert many query
def insert_many_query(connection, query, values):
    cursor = connection.cursor()
    try:
        cursor.executemany(query, values)
        connection.commit()
        print("Data inserted successfully")
    except mysql.connector.Error as error:
        print("Error executing INSERT MANY query: {}".format(error))
    finally:
        cursor.close()

# Function to execute update query
def update_query(connection, query, values):
    cursor = connection.cursor()
    try:
        cursor.execute(query, values)
        connection.commit()
        print("Data updated successfully")
    except mysql.connector.Error as error:
        print("Error executing UPDATE query: {}".format(error))
    finally:
        cursor.close()

# Function to execute delete query
def delete_query(connection, query, values):
    cursor = connection.cursor()
    try:
        cursor.execute(query, values)
        connection.commit()
        print("Data deleted successfully")
    except mysql.connector.Error as error:
        print("Error executing DELETE query: {}".format(error))
    finally:
        cursor.close()

# Test the functions
connection = connect_to_mysql()
if connection:
    # Test select query
    select_query(connection, "SELECT * FROM employee")

    # Test insert query
    insert_query(connection, "INSERT INTO employee (emp_id, f_name, l_name, age, gender, salary, city, dept) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)", (101, "John", "Doe", 30, "Male", 50000, "New York", "IT"))

    # Test insert many query
    insert_many_query(connection, "INSERT INTO employee (emp_id, f_name, l_name, age, gender, salary, city, dept) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)", [(102, "Jane", "Doe", 28, "Female", 60000, "Los Angeles", "HR"), (103, "Mike", "Smith", 35, "Male", 70000, "Chicago", "Finance")])

    # Test update query
    update_query(connection, "UPDATE employee SET salary = %s WHERE emp_id = %s", (55000, 101))

    # Test delete query
    delete_query(connection, "DELETE FROM employee WHERE emp_id = %s", (101,))

    connection.close()

Connected to MySQL successfully
Data inserted successfully
Error executing INSERT MANY query: 1062 (23000): Duplicate entry '102' for key 'employee.PRIMARY'
Data updated successfully
Data deleted successfully