In [9]:
import mysql.connector

# Establish MySQL connection
connection = mysql.connector.connect(

            host="localhost",
            user="root",
            password="Bharat#12",
            database="module1"
)

# Create a cursor object
cursor = connection.cursor()

# Create table for assignment scores
create_table_query = """
CREATE TABLE IF NOT EXISTS assignment_scores (
    student_id INT AUTO_INCREMENT PRIMARY KEY,
    student_name VARCHAR(50) NOT NULL,
    python_assignment_1 INT NOT NULL,
    python_assignment_2 INT NOT NULL,
    python_assignment_3 INT NOT NULL,
    python_assignment_4 INT NOT NULL,
    python_assignment_5 INT NOT NULL
)
"""
cursor.execute(create_table_query)
print("Table 'assignment_scores' created successfully")

# Insert sample data
insert_data_query = """
INSERT INTO assignment_scores (student_name, python_assignment_1, python_assignment_2, python_assignment_3, python_assignment_4, python_assignment_5)
VALUES
('Student 1', 80, 85, 90, 95, 100),
('Student 2', 75, 85, 95, 80, 90),
('Student 3', 90, 85, 80, 75, 85),
('Student 4', 95, 90, 85, 80, 75),
('Student 5', 85, 90, 95, 100, 80),
('Student 6', 80, 85, 90, 95, 100)
""")
cursor.execute(insert_data_query)
print("Sample data inserted successfully")

# Query to calculate total score for each student and find the topper
topper_query = """
SELECT 
    student_id,
    student_name,
    python_assignment_1 + python_assignment_2 + python_assignment_3 + python_assignment_4 + python_assignment_5 AS total_score
FROM 
    assignment_scores
ORDER BY 
    total_score DESC
LIMIT 1;
"""
cursor.execute(topper_query)
topper_result = cursor.fetchone()
print("Topper Student:")
print("Student ID:", topper_result[0])
print("Student Name:", topper_result[1])
print("Total Score:", topper_result[2])

# Close cursor and connection
cursor.close()
connection.close()

SyntaxError: unterminated string literal (detected at line 44) (3708882695.py, line 44)

In [12]:
import mysql.connector

# Function to connect to MySQL database
def connect_to_mysql():
    try:
        connection = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Bharat#12",
            database="module1"
        )
        print("Connected to MySQL database successfully!")
        return connection
    except mysql.connector.Error as error:
        print("Error while connecting to MySQL:", error)
        return None

# Function to create the table for assignment scores
def create_assignment_scores_table(connection):
    try:
        cursor = connection.cursor()
        cursor.execute("""
            CREATE TABLE IF NOT EXISTS assignment_scores (
                student_id INT AUTO_INCREMENT PRIMARY KEY,
                student_name VARCHAR(50) NOT NULL,
                python_assignment_1 INT NOT NULL,
                python_assignment_2 INT NOT NULL,
                python_assignment_3 INT NOT NULL,
                python_assignment_4 INT NOT NULL,
                python_assignment_5 INT NOT NULL
            )
        """)
        print("Assignment scores table created successfully!")
    except mysql.connector.Error as error:
        print("Error while creating table:", error)

# Function to insert sample data into the table
def insert_sample_data(connection):
    try:
        cursor = connection.cursor()
        cursor.execute("""
            INSERT INTO assignment_scores (student_name, python_assignment_1, python_assignment_2, python_assignment_3, python_assignment_4, python_assignment_5)
            VALUES
                ('Student 1', 90, 85, 95, 88, 92),
                ('Student 2', 78, 80, 82, 79, 85),
                ('Student 3', 92, 88, 90, 94, 87),
                ('Student 4', 85, 90, 87, 88, 82),
                ('Student 5', 75, 82, 79, 80, 78),
                ('Student 6', 89, 92, 91, 90, 94)
        """)
        connection.commit()
        print("Sample data inserted successfully!")
    except mysql.connector.Error as error:
        print("Error while inserting data:", error)

# Function to calculate total scores and find the topper
def find_topper(connection):
    try:
        cursor = connection.cursor()
        cursor.execute("""
            SELECT 
                student_name, 
                python_assignment_1 + python_assignment_2 + python_assignment_3 + python_assignment_4 + python_assignment_5 AS total_score
            FROM 
                assignment_scores
            ORDER BY 
                total_score DESC
            LIMIT 1
        """)
        topper = cursor.fetchone()
        print("Topper Student:", topper[0], "is topper with total score:", topper[1])
    except mysql.connector.Error as error:
        print("Error while executing query:", error)

# Main function
def main():
    # Connect to MySQL
    connection = connect_to_mysql()
    if connection is None:
        return
    
    # Create table for assignment scores
    create_assignment_scores_table(connection)
    
    # Insert sample data
    insert_sample_data(connection)
    
    # Calculate total scores and find the topper
    find_topper(connection)
    
    # Close connection
    connection.close()
    print("MySQL connection closed.")

if __name__ == "__main__":
    main()

Connected to MySQL database successfully!
Assignment scores table created successfully!
Sample data inserted successfully!
Topper Student: Student 6 is topper with total score: 456
MySQL connection closed.